<div class="main-container">
    <div class="form-container">
        <h2>Please send us any requests or queries using this form:</h2>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName="form-name" value="contactForm" />
            <input type="hidden" formControlName="bot-field" />

            <label for="name">
                Your name
                <input id="name" type="text" formControlName="name" />
            </label>

            <label for="email">
                Your email
                <span style="color: var(--color-accent); font-size: 28px;">*</span>
                <input id="email" type="email" formControlName="email" required />
            </label>

            <label for="message">
                Message
                <span style="color: var(--color-accent); font-size: 28px;">*</span>
                <textarea id="message" formControlName="message"></textarea>
            </label>

            <label for="consent">
                <div style="display: flex; justify-content: center; align-items: center;">
                    <input type="checkbox" formControlName="consent" required />
                    <p>I am happy to receive emails regarding this message & according to the <a href="/terms"
                            target="_blank">Terms & Conditions</a><span
                            style="color: var(--color-accent); font-size: 16px;">*</span></p>
                </div>
            </label>

            <input type="submit" value="Send a message" />
        </form>
    </div>
</div>